.nav-container {
  background-color: transparent;
  padding-right: 3em;
  padding-top: 2em;
}
.list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.nav-item {
  padding-left: 4em;
  z-index: 100;

  font-weight: 100;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: Montserrat-light;
  font-size: 1.3em;
}
.nav-link:hover {
  /* color: #9f92b7; */
  color: #b2abba;
}
