.leaf-banner {
  height: 11em;
}

.portfolio-text {
  color: white;
  padding-bottom: 1em;
  padding: 1.8em 0;
  font-size: 2.3em;
  text-align: center;
}

.all-projects {
  display: flex;
  justify-content: center;
  margin-left: 20em;
  margin-right: 20em;
  flex-wrap: wrap;
  margin-top: 3em;
}
